#──────────#
# Brackets #
#──────────#
snippet {} "{}" iA
{$1}$0
endsnippet

snippet （） "（）" iA
（$1）$0
endsnippet

snippet '' "''" iA
'$1'$0
endsnippet

snippet "" "" iA
"$1"$0
endsnippet

snippet “” "“”" iA
“$1”$0
endsnippet

snippet ‘’ "‘’" iA
‘$1’$0
endsnippet

snippet () "()" iA
($1)$0
endsnippet

snippet 《》 "《》" iA
《$1》$0
endsnippet

snippet [] "[]" iA
[$1]$0
endsnippet
